{% extends "layout/app.html" %}
{% load static %}

{% block title %}Elige una nueva contraseña - EduNova Academy{% endblock %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
{% endblock %}

{% block content %}
 
    <section class="auth-card">
    <h2>Contraseña actualizada</h2>
    <p>Esperemos que esta no se te olvide 😘</p>
            <p class="auth-footer">
            <a href="{% url 'login' %}">Ir al login</a>
        </p>
    </section>
 
{% endblock %}
