{% extends "layout/app.html" %}
{% load static %}

{% block title %}Restablecer contraseña - EduNova Academy{% endblock %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/password_reset.css' %}">
{% endblock %}

{% block content %}
<main class="auth-main">
    <section class="auth-card">
        <h1 class="auth-title">Restablecer contraseña</h1>

        <form method="post" class="auth-form" novalidate>
            {% csrf_token %}
            {{form.email.label_tag}}
            {{form.email}}
            <button type="submit" class="btn btn-primary auth-btn">
                Enviar enlace
            </button>
        </form>

        <p class="auth-footer">
            <a href="{% url 'login' %}">Ir al login</a>
        </p>
    </section>
</main>
{% endblock %}
